숫자형

# 숫자형

In [1]:
a=123

In [2]:
print(a)

123

In [3]:
a

123

In [4]:
b=456

In [5]:
a
b

456

In [6]:
a,b

(123, 456)

In [7]:
type(a)

int

In [8]:
a=1.9

In [9]:
type(a)

float

In [10]:
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [12]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [13]:
input?

Signature: input(prompt='')
Docstring:
Forward raw_input to frontends

Raises
------
StdinNotImplentedError if active frontend doesn't support stdin.
File:      ~/opt/anaconda3/lib/python3.8/site-packages/ipykernel/kernelbase.py
Type:      method

In [20]:
asdf=input('숫자 입력 : ')

숫자 입력 :  987

In [21]:
asdf

'987'

In [22]:
type(asdf)

str

In [23]:
print(asdf)

987

In [26]:
int(asdf)+1

988

In [27]:
# 주석 cmd+/

In [32]:
# 전체 과일의 갯수와 한 박스당 들어가는 과일의 수를 입력받아 몇박스가 만들어지고 몇 개가 남는지 출력하기
total = int(input('전체 과일의 수 입력 : '))
num = int(input('한 박스당 들어가는 과일의 수 : '))
print(int(total/num), '박스가 만들어지고', total%num,'개가 남습니다')

전체 과일의 수 입력 :  10
한 박스당 들어가는 과일의 수 :  3

3 박스가 만들어지고 1 개가 남습니다

## 문자열 자료형

In [33]:
"hello '낙지짱'"

"hello '낙지짱'"

In [34]:
'hello "몽짱"'

'hello "몽짱"'

In [35]:
'''
몽짱
낙지짱
'''

'\n몽짱\n낙지짱\n'

In [36]:
'1'+'몽'

'1몽'

In [38]:
# 1+'몽'

In [41]:
yoonababo = '유나바보'*10

In [42]:
len(yoonababo)

40

In [43]:
yoonababo[-1]

'보'

In [45]:
yoonababo[2:4]

'바보'

In [47]:
yoonababo[-4:]

'유나바보'

In [61]:
# 주민등록번호를 입력받아 생년월일과 성별 추출하기
j_number = input('주민번호를 입력하세요(111111-1111111) : ')
byear = j_number[0:2]
bmonth = j_number[2:4]
bday = j_number[4:6]
gender = j_number[7:8]

if gender=='1' or gender=='3':
    gender_Str = '남자'
elif gender=='2' or gender=='4':
    gender_Str = '여자'
print(byear,'년',bmonth,'월',bday,'일생, ',gender_Str)

주민번호를 입력하세요(111111-1111111) :  950929-1231231

95 년 09 월 29 일생,  남자

## 문자열 포맷팅

In [62]:
toiletyoona = "유나는 오늘 화장실에 %d번 다녀왔습니다."%3

In [63]:
toiletyoona

'유나는 오늘 화장실에 3번 다녀왔습니다.'

In [64]:
toiletyoona2 = "유나는 오늘 떵을 {}번 쌌읍니다.".format(1)

In [65]:
toiletyoona2

'유나는 오늘 떵을 1번 쌌읍니다.'

In [69]:
toiletyoona2 = "유나는 오늘 떵을 {:>10,.4f}번 쌌읍니다.".format(112312.1234)
toiletyoona2

'유나는 오늘 떵을 112,312.1234번 쌌읍니다.'

In [72]:
name = input('이름을 입력하세요 : ')
status = '바보'
print(f'이름은 {name}이고, {status}입니다.'.format(name, status))

이름을 입력하세요 :  최유나

이름은 최유나이고, 바보입니다.

In [78]:
s = " ".join(["유나","바보"])
s

'유나 바보'

## 구구단 출력

In [83]:
for i in range(2,10,1):
    print('-%d단-'%i)
    for j in range(1,10,1):
        print('%d x %d = %d'%(i,j,i*j))

-2단-
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
-3단-
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
-4단-
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
-5단-
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
-6단-
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
-7단-
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
-8단-
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
-9단-
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81